<div class="resultwrapper" id="<%=id%>">
	<div class="result <%= plugin%>">
		<!--<img src="">-->
		<div class="txt">
            <div class="txt-inner">
			    <%= fields.message %><%= fields.text %>
            </div>
		</div>
		<div class="time">3s Ago</div>
	</div>
</div>
