body {font-family: 'Molengo', arial, serif; 
	background: #000000 url(bg.jpg) no-repeat center top;}

.left{float: left;}
.right{float: right;}
.clear{clear: both; height: 50px;}

#topmenuwrapper{padding-top:30px; width:100%; height: 32px;}
#topmenu { width: 272px; height: 32px; 
	   margin: 0 auto; color: white; background: #4C4B4C; font-size: 10pt;
   		font-weight: 900; line-height: 32px; text-align: center;}
#topmenu a { color: white; text-decoration: none;}

#headerwrapper{padding-top: 98px; width: 100%; 
		height:135px; }
#header {text-align: center;}
#header h2 {font-size: 18px; letter-spacing: 4px; font-weight: 900; 
		color:#1C152F;}
#header h3 {font-size: 13px;color: #231F2F;}

#formwrapper {padding-top: 274px; width: 100%;}
#form {margin: 0 auto; height: 160px; width: 727px;}
#form input {border: 0; margin: 0; width: 303px; display: block; 
		height: 52px; font-size: 38px; line-height: 42px;
		padding-bottom: 5px;
		font-weight: 900; text-align: center; color: #222;
	background: transparent; text-shadow: 1px 1px 3px #888888;}
#form button {background: transparent; display: block; clear: both;
		padding: 50px 0 0; border:0; margin: 0 278px;}
#form button img {border: 0; padding: 0;}
#form button:hover {cursor: pointer;}

#vesselswrapper{padding-top: 69px; width: 100%; height: 138px;}
#vessels {width: 181px; margin: 0 auto;}
.vessel {background: transparent;
	height: 138px; width: 67px; background-position: 0 0;}
.fluid {background: transparent url(bubbles.png) no-repeat top left; 
	height: 10px; margin-top: 128px; width 67px;}
#fluid-right{background-position: top right;}

#numberwrapper{padding-top: 100px; width: 100%;}
#numbers {margin: 0 auto; width: 200px;}
.number a {font-size: 50px; color: #999999; 
	font-weight: 900; text-align: center;
	background: transparent; text-shadow: 1px 1px 3px #888888;
	text-decoration: none;}
.hint {display: none; font-size: 20px;
    width:196px; height:123px; text-shadow: none; text-align: left;
    background: transparent url(results_total.png) top left no-repeat;
    color:#999999; padding: 20px 10px 10px;}
.number a:hover .hint {display:block; position:absolute;}
.hiddencount {display: none;}
.hint div {height: 45px; margin: 0 0 0 80px; text-align: right; 
		font-size: 25px; width: 80px;}

#resultlistswrapper {padding-top: 20px; width: 100%;}
#resultlists{width: 980px; margin: 0 auto;}
#resultlists .right{ margin-right: 10px;}
.resultwrapper{width:347px; height: 101px; background-color: transparent; 
	background-repeat: no-repeat; background-position: center center;
	display: none;}
.left .resultwrapper {background-image: url(result_l.png);}
.right .resultwrapper {background-image: url(result_r.png);}
.result{background-color: transparent; background-repeat: no-repeat;
	background-position: 10px right; color: #CCCCCC; padding: 22px;
	font-size: 12px;}
.resultwrapper:hover .txt-inner {position:absolute; background: #23050C;
	font-size: 110%; display: block; height: auto;
	-moz-box-shadow: 1px 1px 3px #111;
	-webkit-box-shadow: 1px 1px 3px #111;
	box-shadow: 1px 1px 3px #111;
	border: 1px solid #230008;}
.txt-inner {width: 242px;}
.twitter{background-image: url(feeds/twitter.png);}
.facebook{background-image: url(feeds/facebook.png);}
.result img {border: 0; height: 50; width: 50; margin: 6px 4px 0 6px;}
.result div, .result img {float: left; height: 50px; margin-top: 6px;}
.result .txt {/*width: 188px;*/padding-left: 6px; width:242px; height: 50px; 
		overflow: hidden}
.result .time {width: 45px; font-size: 90%; padding-top: 8px; 
                text-align: right;}
.gap{margin-bottom: 180px;}
