<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>The InflueEncer | A Power Play Game | Powered by Loopa</title>
		<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/basic.css">
	</head>
	<body>
		<div id="body">
			<div id="topmenuwrapper">
			<div id="topmenu">
				<a href="">about loopa </a> \
				<a href=""> contact us </a> \
				<a href=""> how to play </a>
			</div>
			</div>
			<div id="headerwrapper">
			<div id="header">
				<img src="/static/css/header.png" 
				alt="The InflueEncer" height="93"
					width="479">
				<h2>A Power Play Game</h2>
				<h3>Powered by Loopa</h3>
			</div>
			</div>
			<div id="formwrapper">
			<div id="form">
				<form>
					<input type="text" id="input-left" 
						class="left">
					<input type="text" id="input-right"
					class="right" style="margin-right:2px;">
					<button type="button">
					<img src="/static/css/start_btn.png" 
						width="170" 
						height="56">
					</button>
				</form>
			</div>
			</div>
			<div id="vesselswrapper">
			<div id="vessels">
				<div id="vessel-left" class="left vessel">
					<span id="vessel-left-count" class="hiddencount counter">0</span>
					<div id="fluid-left" class="fluid">
						<p></p></div></div>
				<div id="vessel-right" class="right vessel">
					<span id="vessel-right-count" class="hiddencount counter">0</span>
					<div id="fluid-right" class="fluid">
						<p> </p></div></div>
			</div>
			</div>

			<div id="numberwrapper">
				<div id="numbers">
				<div class="number left">
					<a href="#"><span id="total-left" class="counter total-count">0</span>
					<div class="hint">
						<div class="facebook-count"><span class="counter">0</span></div>
						<div class="twitter-count"><span class="counter">0</span></div>
					</div><!--endhint-->
				</a>
				</div>
				<div class="number right">
					<a href="#"><span id="total-right" class="total-count counter">0</span>
					<div class="hint">
						<div class="facebook-count"><span class="counter">0</span></div>
						<div class="twitter-count"><span class="counter">0</span></div>
					</div><!--endhint-->
				</a>
				</div>
				</div>
			</div>
			<div id="resultlistswrapper">
			<div id="resultlists">
				<div id="result-left" class="left resultlist">
				</div>
				<div id="result-right" class="right resultlist">
				</div>
				<div class="clear"><p> </p></div>
			</div>
			</div>
		</div>
		<script type="text/javascript" src="/static/js/ejs_production.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.timeago.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
		</body>
</html>
